/* Global */ 
body{
    font-family: 'Ubuntu', sans-serif;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}
/* Edit Navbar Bootstrap */ 
.navbar {
    position: fixed;
    z-index: 999999;
    width:100%;
    background-color: #fff;
    .navbar-brand{
        width:50%;
        color:#555;
    }
    .collapse{

        li{
           a{
            color: #555;
          
           }
           &:last-child{
            border:1px solid #EEE;
            border-radius: 5px;
            display: block;
            width:40%;
            margin: 0 auto;
            text-align: center;
            }
        }
    }
    .navbar-collapse{
       text-align: center;
    }
   
}

/* End Navbar Bootstrap */ 

/* Start Product */ 
.product{
    padding:40px 0;
    background-color: #f2f4f7;
    .items{
        display: flex;
        align-items: center;
        @include Phone{
            flex-wrap: wrap;
        }
        .text{
            h2{
                font-weight: bold;
            }
            p{
                color:#818198
            }
            @include Phone{
                order: 2;
                text-align: center;
                a{
                    margin: 10px 5px;
                }
            }
        }

        .image{
            img{
                max-width: 100%;
            }
            @include Phone{
                order: 1;
            }
        }
     
    }
}
/* End Product */


/* Start yd-cat */ 
.yd-cat{
    padding:120px 0;
   .firstly{
        p{
            color:#818198;
        }
   }
   .secondly{
       margin: 20px 0;
       .item{
           padding: 50px 30px;
           .icons{
               text-align: left;
               img{
                   max-width: 30%;
               }
           }
           text-align: left;
           &:first-child{
               background: #fff2e5;
           }
            &:nth-child(2){
            background: #f8f9fa;
            }
            &:last-child{
            background: #f0f5f9;
            }
       }
   }
}

/* End yd-cat */

/* start features */ 
.features{
    .first{
        display: flex;
        align-items: center;
        padding:20px 0;
        background-color:#f0f5f9;
        img{
            max-width: 100%;
        }
        .text{
            i{
                font-size:28px;
                margin-right: 10px;
                opacity: .8;
            }
        }
    }

    .second{
        background-color:#f0f5f9;
        padding-top: 25px;
        display: flex;
        align-items: center;
        img{
            
            max-width: 100%;
            @include Phone{
                order: 1;
            }
        }
        .text{
            @include Phone{
                order: 2;
            }
            i{
                font-size:28px;
                margin-right: 10px;
                opacity: .8;
            }
        }
    }
}
/* end features */ 


/* start reviews */ 
.reviews{
    background-color: #f0f5f9;
    width:90%;
    margin: auto;
    padding:80px 0;
    .slick{

   .item {
        outline: none;
        .text{
            display: flex;
            align-items: flex-start;
            img{
                width: 50px;
            }
            p{
                font-size: 20px;
                padding: 0 10px;
            }
        }
        .information{
            display: flex;
            align-items: center;
            img{
               width:60px;
               height: 60px;
                border-radius: 50%;
            }
            div{
                padding-left: 20px;

                h3{
                    margin: 0;
                }
            }
        }
    }

 
    }
}
/* end reviews */

.pricing {
    .item{
        background-color: #f0f5f9;
        margin-left: 30px;
        padding:40px 0;
        span{
            display: inline-block;
            width: 100%;
            color: #ABAFB3;
        }
        img{
           max-width: 30%;
        }
        p{
            margin: 0;
            padding: 0;
            font-size: 40px;
        }
        small{
            display: inline-block;
            font-size: 20px;
            margin:10px 0;
        }
    }
}

/* Start questions */ 
.questions{
    width: 90%;
    margin: auto;
    background-color: #f0f5f9;
    padding:40px 10px;
    .question{
        padding-top: 40px;
        .title{
            cursor: pointer;
            border-bottom:2px solid rgba(0,0,0,.03);
            display: flex;
            align-items: center;
            justify-content: space-between;
            h2{
                font-size: 18px;
            }
        }
        .text{
            display: none;
        }
    }
}
/* End questions*/ 

/* Start sender */ 
.sender{
    padding: 50px 0;
}
/* end sender */ 

/* footer */ 
.footer{
    background-color: #f0f5f9;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    @include Phone{
        text-align: center;
        flex-wrap: wrap;
       
        .links,.social,a{
            width: 100%;
            margin: 10px 0;
        }
    }
    a{
        text-decoration: none;
      
    }
    
    .logo{
        font-size: 30px;
        letter-spacing: 5px;
    }
    ul{
        li{
            display: inline-block;
            margin-right:20px;
        }
    }
    .links{
       a{
        color:#555;
        font-size:17px;
       }
    }
    .social{
        a{
            color:#73c386
        }
    }
}
/* end footer */ 


.scrolltop 
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 40px;
    color:#73c386;
    cursor: pointer;
    opacity: .5;
    display: none;
    &:hover{
        opacity: 1;
    }
}